*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{

    font-family: 'Ubuntu', 'Montserra', 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
}

header{
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: black;

}

header li {
display: inline-block;
padding: 20px;

}


header li a {
    display: block;
    padding: 20px;
}

header li a :hover{
    background-color: aqua;
}

.sub-menu{
    display:none;
}


.navbar{
    
    position: absolute;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    
}

.navbar a{

    color: white;
}

.navbar .logo{  

    font-size: 2em;
    font-weight: bold;
    color: yellow;
    padding-right: 25px;
    
}

.box {

	width: 200px;
	height: 15px;
	background-color: white;
	border-radius: 5px;
	display: flex;
	align-items: center;
	padding: 5px;

}

.box > i {

	font-size: 13px;
	color: #777;

}

.box > input{

	
	height: 20px;
	border: none;
	outline: none;
	font-size: 13px;
	

}

.navbar .nav-links ul{

    display: flex;
    font-size: medium;
    font-weight: lighter;
    padding: 0px;

}

.navbar .nav-links ul li{
    margin: 0 25px;
    color:white;  
}

.navbar .nav-links ul li.first a:hover{
    color: rgb(0, 140, 255);    
}

.navbar .nav-links ul li.second a:hover{
    color: rgb(165, 95, 231);  
}

.navbar .nav-links ul li.third a:hover{
    color: red;  
}

.navbar .nav-links ul li.forth a:hover{
    color: orange;      
}


.navbar .nav-links ul li.fifth a:hover{
    color: green;    
}

.navbar .menu-burger{
    display: none;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 35px;
}


.mobile-menu{

    margin-left: 0;
}

p{
padding-left: 5px;

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: rgb(25, 25, 25);
    color: white;
    text-align: center;
    padding-left: 5px;
    font-size: 2em;
  }

.icons{
    color: white;
}

section{
    display: flex;
    flex-direction: column;
    padding: 100px 20px;  
}

@media screen and (max-width: 850px) {
    
.navbar{
    padding: 0;
}

.navbar .logo{  

    position: absolute;
    top: 20px;
    left: 30px;
    color: yellow;
}

    .navbar .menu-burger{
        display: block;
    }

    .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(116, 114, 114, 0.149);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
       
    }

    .nav-links.mobile-menu{

        margin-left: 0;
    }

    .nav-links ul{
       
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    .navbar .nav-links ul li{
    
        margin: 25px 0;
        font-size: 1.2em;

        
    }

    .box{
        position: relative;
        top: 25px;
        left: 300px;
        width: 200px;
        height: 15px;
        background-color: white;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;

    
    }
    
    .box > i {
    
        font-size: 13px;
        color: #777;
    
    }
    
    .box > input{
    
        flex: 1;
        height: 20px;
        border: none;
        outline: none;
        font-size: 13px;
        padding-left: 10px;
    
    }


}

@media screen and (max-width: 580px) {


    .box{
        display: none;

    
    }
}