
/* CODE IFRAME NE PAS TOUCHER*/
iframe {
    width: 100%;
    max-width: 100%;
}
iframe[Attributes Style] {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    height: 450px;
}
iframe {
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
/* CODE IFRAME NE PAS TOUCHER*/

/*CODE POUR REMONTER EN HAUT NE PAS TOUCHER*/
#scrollUp
{
position: fixed;
bottom : 10px;
right: -100px;
opacity: 0.5;
}
/*CODE POUR REMONTER EN HAUT NE PAS TOUCHER*/