iframe {
    width: 100%;
    max-width: 100%;
}
* {
    box-sizing: border-box;
}
iframe[Attributes Style] {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    height: 450px;
}

iframe {
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

