* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Ubuntu', 'Montserra', 'Roboto', sans-serif;
    color: rgb(10, 10, 71);

}

body{

    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: none;
    font-family: 'Ubuntu', 'Montserra', 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
}

header{
    height: 80px;
    width: 100%;
    background-color: rgba(134, 134, 134, 0.412);
    

}

.navbar{
    top: 0;
    left: 0;
    position: absolute;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    
    
}

.navbar a{

    color: rgb(10, 10, 71);
}

.navbar .logo{  

    font-size: 2em;
    font-weight: bold;
    color: rgb(10, 10, 71);
    padding-right: 25px; 
}

.voyelles{
    color: yellow;
}

.consonnes{
    color:red;
}

#conteneur nav{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 20px;
 
}

#conteneur nav{
    margin-top: auto;
    margin-left: 20px;
    margin-right: 20px;

}

#conteneur nav div i{
    font-size: 50px;
    margin-bottom: 50px;
    color: white;
    
}

th{
   border: 1px solid black;
   background-color: rgb(255, 255, 255);
   margin-left: 20px;
 }

 td{
    border: 1px solid black;
   background-color: rgb(255, 255, 255);
   margin-left: 20px;
 }


.boite2 li{
    margin-left: 20px;
}

.boite3 li{
    margin-left: 20px;
}
 .boite1 section a{
    margin-left: 20px;
    text-decoration: underline;
    color: green;
 }

 .boite1 section ul{

    display: block;
    width: 100%;
    float:left;
 }

 .boite2 section a{
    margin-left: 20px;
    text-decoration: underline;
    color: green;
 }

 .boite2 section ul{

    display: block;
    width: 100%;
    float:left;
 }

 .boite3 section a{
    margin-left: 20px;
    text-decoration: underline;
    color: green;
    margin-bottom: 20px;
 }

 .boite3 section ul{

    display: block;
    width: 100%;
    float:left;
 }

table{
    margin-left: 20px;
    margin-bottom: 20px;
}

 iframe{
    margin-left: 20px;
 }


nav .element1{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    border: 0.5px solid white;
    justify-content: center;
    text-align: center;
    background-color: rgb(46, 102, 191);
    font-size: 30px;
    color: white;
}

nav .element1:hover{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    border: 0.5px solid white;
    justify-content: center;
    text-align: center;
    background-color: #10ae37a2;
    font-size: 30px;
    color: white;
}

nav .element2{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    border: 0.5px solid white;
    justify-content: center;
    text-align: center;
    background-color: rgb(46, 102, 191);
    font-size: 30px;
    color: white;
    
}

nav .element2:hover{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    border: 0.5px solid white;
    justify-content: center;
    text-align: center;
    background-color: #10ae37a2;
    font-size: 30px;
    color: white;
}

nav .element3{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    border: 0.5px solid white;
    justify-content: center;
    text-align: center;
    background-color: rgb(46, 102, 191);
    font-size: 30px;
    color: white;
    
}

nav .element3:hover{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    border: 0.5px solid white;
    justify-content: center;
    text-align: center;
    background-color: #10ae37a2;
    font-size: 30px;
    color: white;
}

nav .element4{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    border: 0.5px solid white;
    justify-content: center;
    text-align: center;
    background-color: rgb(46, 102, 191);
    font-size: 30px;
    color: white;
}

nav .element4:hover{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    border: 0.5px solid white;
    justify-content: center;
    text-align: center;
    background-color: #10ae37a2;
    font-size: 30px;
    color: white;
}

.conteneur h1{
    color:rgb(10, 10, 71);
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    
}

h2{
    
    color:rgba(217, 84, 32, 0.804);
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 20px;
   
}

h3{
    
    color:rgba(124, 108, 65, 0.575);
    margin-bottom: 10px;
    margin-left: 20px;
   
}

h4{
    color: blue;
    margin-bottom: 10px;
    margin-left: 20px;
}

h5{
    margin-bottom: 10px;
    margin-left: 20px;
}

p{
    line-height: 1.3;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
 }

 .boite1 a{
    padding-left: 20px;
    color: green;
    text-decoration: underline;
 }

 .boite2 a{
    
  
    color: green;
    text-decoration: underline;
 }

 .boite3 a{
    
    color: green;
    text-decoration: underline;
 }

 #btt {
    opacity: 0;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 30px;
    margin: 5px;
    right: 20px;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

nav ul{
    
    margin-bottom: auto;
}

ul{
    margin-bottom:10px;
}

.box{

	width: 200px;
	height: 15px;
	background-color: white;
	border-radius: 5px;
	display: flex;
    
	align-items: center;
	padding: 5px;

}

.box > i {

	font-size: 13px;
	color: #777;

}

.box > input{

	height: 20px;
	border: none;
	outline: none;
	font-size: 13px;

}

.navbar .nav-links ul{

    display: flex;
    font-size: medium;
    font-weight: lighter;
    padding: 0px;

}

.navbar .nav-links ul li{
    margin: 0 25px;
    color: white;
    
}

.fifth{
display: none;

}


.navbar .nav-links ul li:hover .fifth{

display: block;
position: absolute;
}


/*Menu Burger*/

.navbar .menu-burger{
    display: none;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 35px;
}


.mobile-menu{
    margin-left: 0;
}


.icons a{

    border: 1px solid rgb(58, 57, 57);
    color: rgb(58, 57, 57);
    border-radius: 50%;
    line-height: 36px;
    text-align: center;
    font-weight: 600;
    width: 40px;
    margin-top: 15px;
    margin-right: 10px;
    
}

.icons a:hover{

    border: 1px solid white;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    line-height: 36px;
    text-align: center;
    font-weight: 600;
    width: 40px;
    margin-top: 15px;
    margin-right: 10px;
    
}

form {
    background: rgba(27, 31, 34, 0.80);
    width: 640px;
    margin: 50px auto;
    max-width: 97%;
    border-radius: 10px;
    padding: 55px 30px;
    box-sizing: border-box;
   
}




form .title h2 {

    font-family: 'Ubuntu', 'Montserra', 'Roboto', sans-serif;
    letter-spacing: 6px;
    border-bottom: 1px solid white;
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: 32px;
    
}

.title .logo {  
    font-family: 'Ubuntu', 'Montserra', 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: rgb(255, 119, 0);
    border-bottom: 1px solid white;
    padding-bottom: 7px;
    margin-bottom: 32px;

}

.nav-links{

    font-family: 'Ubuntu', 'Montserra', 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: yellow;


}

form .half {

    display: flex;
    justify-content: space-between;
}

form .half .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;
}

form label {
    display: block;
    font-size: 13px;
    letter-spacing: 3.5px;
    margin-bottom: 16px;

}

form .half .item input{

border-radius: 4px;
border: 1px solid white;
outline: 0;
padding: 16px;
width: 100%;
height: 44px;
background: transparent;
font-size: 17px;
}

form .full{

    margin-bottom: 24px;
}

form .full textarea{
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 12px 16px;
    width: 100%;
    height: 200px;
    font-size: 17px;
}

form .action{

    margin-bottom: 32px;

}

form .action input{

    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    height: 44px;
    letter-spacing: 3px;
    outline: 0;
    padding: 0 20px 0 22px;
    margin-right: 10px;
}


form .action input[type="submit"]{

    background: white;
    color: rgb(10, 10, 71);

}


form .icons a{

    border: 1px solid rgb(10, 10, 71);
    border-radius: 50%;
    line-height: 36px;
    text-align: center;
    font-weight: 600;
    width: 38px;
    margin-right: 10px;
    
}

form .half .item input:focus, form .full textarea:focus, form .action input[type="reset"]:hover, form .icons a:hover{

    background: rgba(255,255,255, 0.075);
} 


footer {
    position: relative;
    left: 0;
    bottom: 0;

    width: 100%;
    background-color: rgba(134, 134, 134, 0.412);
    color: rgb(10, 10, 71);
    text-align: center;
    padding: 5px;
    font-size: 1.5em;
    
  }

  .navbar .nav-links ul li a:hover{
    color: #10ae37a2;
}

.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
   }
   .map-responsive iframe {
    left:0;
    top:0;
    height:50%;
    width:70%;
    position: relative;
   }


@media screen and (max-width:500px) {


.navbar .logo{  

    font-size: 2em;
    font-weight: bold;
    color: rgb(10, 10, 71);
    padding-right: 25px; 
}

.voyelles{
    color: yellow;
}

.consonnes{
    color:red;
}
form .half{
    flex-direction: column;
}

form .half .item{
    width: 100%;
}

form .action{

    display: flex;
    flex-direction: column;
}

form .action input {
margin-bottom: 10px;
width: 100%;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{

    font-family: 'Ubuntu', 'Montserra', 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
}

header{
    position: relative;
    height: 80px;
    width: 100%;
    background-color: rgba(134, 134, 134, 0.412);

}

.navbar{

    position: absolute;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    
}

.navbar a{

    color: rgb(10, 10, 71);
}

.navbar .logo{  

    font-size: 2em;
    font-weight: bold;
    color: rgb(255, 119, 0);
    padding-right: 25px;
    
}

.box{

	width: 200px;
	height: 25px;
	background-color: white;
	border-radius: 5px;
	display: flex;
	align-items: center;
	padding: 5px;

}

.box > i {

	font-size: 13px;
	color: #777;

}

.box > input{

	height: 20px;
	border: none;
	outline: none;
	font-size: 13px;
	padding-left: 10px;

}

#conteneur nav{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}



} 

@media screen and (max-width: 850px) {
    
    .conteneur{
        display: flex;
        flex-direction: column;
    }

    #conteneur h1{
        color:rgb(10, 10, 71);
        padding: 30px;
        justify-content: center;
    
        
    }
    .boite1{
        width: 100%;
    }

    .boite2 img{
        width: 100%;
    }

    .boite2{
        width: 400px;
        margin-top: 10px;
        padding-left: 0;
        margin-left: 0;
    }

    .boite3 {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .title .logo{
        border-bottom: none;
    }

    .navbar{
        padding: 0;
    }
    


    .navbar .logo{  
        position: absolute;
        top: 20px;
        left: 30px;
        font-size: 2em;
        font-weight: bold;
        color: rgb(10, 10, 71);
        padding-right: 25px; 
    }
    
    .voyelles{
        color: yellow;
    }
    
    .consonnes{
        color:red;
    }
    
        .navbar .menu-burger{
            display: block;
        }
    
        .nav-links{
            top: 0;
            left: 0;
            position: fixed;
            background-color: rgb(185, 185, 185);
            
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -100%;
            transition: all 0.5s ease;
           
        }
    
        .nav-links.mobile-menu{
    
            margin-left: 0;
        }
    
        .nav-links ul{
           
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 100px;
        }
    
    
    
        .navbar .nav-links ul li{
        
            margin: 25px 0;
            font-size: 1.2em;
    
            
        }
    
        .box{
            position: relative;
            top: 25px;
            left: 300px;
            width: 200px;
            height: 15px;
            background-color: white;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
    
        
        }
        
        .box > i {
        
            font-size: 13px;
            color: #777;
        
        }
        
        .box > input{
        
            flex: 1;
            height: 20px;
            border: none;
            outline: none;
            font-size: 13px;
            padding-left: 10px;
        
        }
    
        #conteneur nav{
            margin-top: 20px;
            margin-left: 80px;
            
        }

        .element1, .element2, .element3, .element4{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            width: 100vw;
            height: 100%;
            border: 0.5px solid white;
            justify-content: center;
            text-align: center;
            background-color: rgb(10, 10, 71);
            font-size: 10px;
            color: white;
            margin-bottom: 10px;
        }

        .footer{
            position: relative;
            background-color: rgba(134, 134, 134, 0.412);
           
            
        }
    
}
    
@media screen and (max-width: 580px) {
    
    
        .box{
            display: none;
    
        
        }

        .element1, .element2, .element3, .element4{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            width: 100vw;
            height: 100%;
            border: 0.5px solid white;
            justify-content: center;
            text-align: center;
            background-color: #2335d8a2;
            font-size: 10px;
            color: white;
            margin-bottom: 10px;
        }
        .footer{
            position: relative;
            background-color: rgba(134, 134, 134, 0.412);
            padding: 10px 0;
            
        }

    }


.piedpage{
    max-width: 100vw;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    
    background-color: rgba(134, 134, 134, 0.412);
    padding: 10px 0;
    
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 13px;
    color: rgb(10, 10, 71);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 10px;
    text-transform: capitalize;
    color: rgb(10, 10, 71);
    text-decoration: none;
    font-weight: 300;
    color: rgb(58, 57, 57);
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color:  rgb(10, 10, 71);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: rgb(58, 57, 57);
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
    

    
    
