* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Ubuntu', 'Montserra', 'Roboto', sans-serif;
    color: white;
   
}

body{

    background-color: #5743435b;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-family: 'Ubuntu', 'Montserra', 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
}

header{
    height: 80px;
    width: 100%;
    background-color: rgba(61, 68, 73, 0.521);

}

.navbar{

    position: absolute;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    
    
}

.navbar a{

    color: white;
}

.navbar .logo{  

    font-size: 2em;
    font-weight: bold;
    color: yellow;
    padding-right: 25px;
    
}

.conteneur .box{

	position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%,-50%);




}

.conteneur input{
    position:relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}

.conteneur input[type="text"]{

    background: rgb(80, 73, 73);
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;

}

.conteneur input[type="submit"]{

    position: relative;
    left: -5px;
    border-radius: 0 25px 25px 0;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background:  #ffc107;
    color: white;


}


.conteneur input[type="submit"] :hover{

background: #ff572;

}


.navbar .nav-links ul{

    display: flex;
    font-size: medium;
    font-weight: lighter;
    padding: 0px;

}

.navbar .nav-links ul li{
    margin: 0 25px;
    color: white;
}


}

.navbar .nav-links ul li:hover .fifth{

display: block;
position: absolute;
}


/*Menu Burger*/

.navbar .menu-burger{
    display: none;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 35px;
}


.mobile-menu{
    margin-left: 0;
}


.title .logo {  
    font-family: 'Ubuntu', 'Montserra', 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: yellow;
    border-bottom: 1px solid white;
    padding-bottom: 7px;
    margin-bottom: 32px;

}

.nav-links{

    font-family: 'Ubuntu', 'Montserra', 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: yellow;


}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: rgba(61, 68, 73, 0.521);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 1.5em;
    
}


footer .f-left{
    
    position: fixed;
    width: 100%;
    color: white;
    text-align: left;
    padding: 5px;
    font-size: 0.5em;
    
  }

  footer .f-right{
    position: fixed;
    width: 100%;
    color: white;
    text-align: right;
    margin: -23px;
    font-size: 0.5em;
    
  }



  .navbar .nav-links ul li a:hover{
    color: rgba(0, 255, 42, 0.541);
}


@media screen and (max-width:500px) {



*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{

    font-family: 'Ubuntu', 'Montserra', 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
}

header{
    height: 80px;
    width: 100%;
    background-color: rgba(61, 68, 73, 0.521);

}

.navbar{

    position: absolute;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    
}

.navbar a{

    color: white;
}

.navbar .logo{  

    font-size: 2em;
    font-weight: bold;
    color: yellow;
    padding-right: 25px;
    
}


} 

@media screen and (max-width: 850px) {
    
    .navbar{
        padding: 0;
    }
    
    .navbar .logo{  
    
        position: absolute;
        top: 20px;
        left: 30px;
        color: yellow;
    }
    
        .navbar .menu-burger{
            display: block;
        }
    
        .nav-links{
            top: 0;
            left: 0;
            position: absolute;
            background-color: rgba(116, 114, 114, 0.149);
            backdrop-filter: blur(7px);
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -100%;
            transition: all 0.5s ease;
           
        }
    
        .nav-links.mobile-menu{
    
            margin-left: 0;
        }
    
        .nav-links ul{
           
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
    
    
        .navbar .nav-links ul li{
        
            margin: 25px 0;
            font-size: 1.2em;
    
            
        }
    
       
    
    }
    
    @media screen and (max-width: 580px) {
    

        
    }



