iframe {
    width: 100%;
    max-width: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
iframe[Attributes Style] {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    height: 800px;
    width: 100%;
}
user agent stylesheet
iframe {
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}